html {
  font-size:62.5%;
}
body {
  margin: 0;
  padding: 0;
}
h1,p {
  margin:0;
}
button {
  cursor: pointer;
  outline:none;
  margin:0px 2px;
  padding:5px 10px;
  font-size:1.6rem;
  border:initial;
}
